<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:site_name" content="Securis"/>
    <meta property="og:title" content="Securis: Fatima"/>
    <meta property="og:description" content="All the information you need for the celebrations of the Centennial of the apparitions of Fatima."/>
    <meta property="og:image" content="resources/securis.png">
    <meta property="og:url" content="https://securis.github.io/fatima17">
    <meta property="og:type" content="site"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>Securis</title>
	
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	
	<%= csrf_meta_tags %>

</head>
<body>

    <% menu_options = [
        {id: 1, name: t('menu.menu_op1'), link: explore_explore_path(locale: I18n.locale), 
            submenu: [
                {name: t('menu.submenu_op1_1'), link: explore_explore_path(locale: I18n.locale)}, 
                {name: t('menu.submenu_op1_2'), link: explore_attractions_path(locale: I18n.locale)}, 
                {name: t('menu.submenu_op1_3'), link: explore_contacts_path(locale: I18n.locale)}
            ]}, 
        {id: 2, name: t('menu.menu_op2'), link: history_lady_of_fatima_path(locale: I18n.locale), 
            submenu: [
                {name: t('menu.submenu_op2_1'), link: explore_explore_path(locale: I18n.locale)}, 
                {name: t('menu.submenu_op2_2'), link: explore_attractions_path(locale: I18n.locale)}, 
                {name: t('menu.submenu_op2_3'), link: explore_contacts_path(locale: I18n.locale)} 
            ]},
        {id: 3, name: t('menu.menu_op3'), link: centennial_pray_path(locale: I18n.locale), 
            submenu: [
                {name: t('menu.submenu_op3_1'), link: centennial_pray_path(locale: I18n.locale)},
                {name: t('menu.submenu_op3_2'), link: centennial_program_path(locale: I18n.locale)}, 
                {name: t('menu.submenu_op3_3'), link: centennial_news_path(locale: I18n.locale)}
                ]}, 
        {id: 4, name: t('menu.menu_op4'), link: directions_foot_path(locale: I18n.locale), 
            submenu: [
                {name: t('menu.submenu_op4_1'), link: directions_foot_path(locale: I18n.locale)},  
                {name: t('menu.submenu_op4_2'), link: directions_car_path(locale: I18n.locale)}, 
                {name: t('menu.submenu_op4_3'), link: directions_transports_path(locale: I18n.locale)}
            ]}, 
        {id: 5, name: t('menu.menu_op5'), link: security_advice_path(locale: I18n.locale), 
            submenu: [
                {name: t('menu.submenu_op5_1'), link: security_advice_path(locale: I18n.locale)}, 
                {name: t('menu.submenu_op5_2'), link: security_emergency_path(locale: I18n.locale)}, 
                {name: t('menu.submenu_op5_3'), link: security_official_contacts_path(locale: I18n.locale)}
            ]}, 
        {id: 6, name: t('menu.menu_op6'), link: lost_people_info_path(locale: I18n.locale), submenu: []} 
    ] %>


    <% content_for :language_option do %>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t('menu.menu_op7') %><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li class="navOption"><%= link_to 'English', url_for(locale: :en) %></li>
                <li class="navOption"><%= link_to 'Português', url_for(locale: :pt) %></li>
            </ul>
        </li>
    <% end %>

	<!--NAVIGATION-->
    <nav id="navigationbar" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="navHome" href="#">
                    <img src="/images/Securis-Fatima17_logo_lat.png" class="img-responsive desktop-only" width="170" height="170" alt="SECURIS: Fatima logo">
                    <img src="/images/securis.svg" class="img-responsive mobile-medium" width="50" height="50" alt="SECURIS: Fatima logo">
                </a>
            </div>

            <ul class="nav navbar-nav mobile-only" id="emergency_button">
                <li><a href="/utility/sos">
                    <img src="/images/emergency.svg" class="img-responsive" width="45" height="45" alt="SOS"> 
                </a></li>
            </ul>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right mobile-only">
                    <% menu_options.each do |option| %>
                        <li id="navOption"><%= link_to option[:name], option[:link] %></li>
                    <% end %>
                    <%= yield :language_option %>
                </ul>

				<ul class="nav navbar-nav navbar-right desktop-medium">
                    <% menu_options.each do |option| %>
                        <% if option[:submenu].empty? %>
                            <li id="navOption"><%= link_to option[:name], option[:link] %></li>
                        <% else %>
                            <li role="presentation" class="dropdown" id="navOption">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= option[:name] %></a>
                                <ul class="dropdown-menu">
                                    <% option[:submenu].each do |sub_option| %>
                                        <li id="submenuOption"><%= link_to sub_option[:name], sub_option[:link] %></li>
                                    <% end %>
                                </ul>
                            </li>
                        <% end %>
                    <% end %>
                    <%= yield :language_option %>
                </ul>

            </div>
            
            <!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <% if @submenu && menu_options[@submenu_val][:submenu].any? %>
        <nav id="submenu" class="navbar-static-top mobile-only">
            <div class="container-fluid">
                <ul class="nav nav-submenu nav-pills">
                    <% menu_options[@submenu_val][:submenu].each do |option| %>
                        <li id="submenuOption"><%= link_to option[:name], option[:link] %></li>
                    <% end %>
                </ul>
            </div>
        </nav>
    <% end %>

<section id="page_content">
    <div class="container-fluid text-justify">

        <%= yield %>

    </div>
</section>


<footer class="footer">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-4 col-sm-3 col-xs-12">
                    <h4><%= t('footer.about') %></h4>
                    <p><a href="#"><%= t('footer.about_us') %></a> | <a href="#"><%= t('footer.android') %></a></p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-8">
                    <h4><%= t('footer.mailing_list') %></h4>
                    <form class="form-inline">
                      <div class="form-group">
                        <label for="subscribeEmail"><%= t('footer.email') %></label>
                        <input type="email" class="form-control" id="subscribeEmail" placeholder="<%= t('footer.enter_email') %>">
                      </div>
                      <button type="submit" class="btn btn-default"><%= t('footer.subscribe') %></button>
                    </form>
                </div>
                <div class="col-md-4 col-sm-3 col-xs-12">
                    <h4><%= t('footer.contact') %></h4>
                    <p><a href="#"><i class="fa fa-envelope"></i> Email</a> | 
                    <a href="#"><i class="fa fa-twitter"></i> Twitter</a> | 
                    <a href="#"><i class="fa fa-facebook"></i> Facebook</a></p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <h6 class="text-right">2017 SECURIS</h6>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
